#container{
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: repeat(7, 1fr);
}
h1 {
    grid-column: 2 / 7;
}
#historySearchResults {
    list-style-type: none;
    padding : 0; /* liの行頭スペース削除のため追加 */
    grid-row: 2/3;
    grid-column: 2/7;
}
#historySearchResults li {
	line-height: 1.5;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    transition: all .5s;
    cursor: pointer;
}
#historySearchResults li:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
#historySearchResults li a {
    display: block;
    text-decoration: none;
    color: #808080;
	padding: 20px;
	margin-bottom: 20px;
}